services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nest_api
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    command: npm run start:dev

